# py.test
.cache
.pytest_cache

# tox
.tox*

# python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# pyenv
.python-version

# IntelliJ / PyCharm
.idea/
.iml

# Default test credentials
/test-credentials.json

# test_app database
test_app/db.sqlite3

# venv
.venv

# direnv
.direnv
.envrc
